:host {
  margin: 24px;
}
.rack {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 32px -12px;
  border-radius: 6px;
  background-color: #e0e0e0;
  min-height: 200px;
  padding: 12px;
  border-left: 7px solid #bdbdbd;
}
mwc-icon-button {
  margin:4px;
}